
*.ini
*.xml
.idea/PASTLE.iml
Untitled0.ipynb
Untitled1.ipynb
*.pyc
results/titanic_npivots=8_model=xgboost_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/spambase_npivots=58_model=xgboost_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/magic_npivots=11_model=xgboost_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/digits_npivots=17_model=xgboost_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/diabetes_npivots=9_model=xgboost_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p5_distancefn=euclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p4_distancefn=sqeuclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p4_distancefn=euclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p3_distancefn=sqeuclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p3_distancefn=euclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p2_distancefn=euclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=xgboost_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/banknote_npivots=5_model=svm_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=svm_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/banknote_npivots=5_model=random_forest_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=random_forest_proximityfn=p5_distancefn=euclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=random_forest_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/banknote_npivots=5_model=random_forest_proximityfn=p1_distancefn=euclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=mlp_proximityfn=p5_distancefn=sqeuclidean_pivots_generation=clustering.json
results/banknote_npivots=5_model=mlp_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/adult_npivots=15_model=xgboost_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/adult_npivots=15_model=svm_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/adult_npivots=15_model=random_forest_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/adult_npivots=15_model=mlp_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
prox_fns_theory.pdf
plot.pdf
results/adult_npivots=15_model=random_forest_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
results/adult_npivots=15_model=random_forest_proximityfn=p1_distancefn=euclidean_pivots_generation=random.json
